<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/ES_logo.png" alt="">
        <h4>Contact</h4>
        <p><strong>Address: </strong>A 5/8, Ground Floor, Paschim Vihar, Delhi - 110063</p>
        <p><strong>Phone: </strong>+91 8050978654</p>
        <p><strong>Hours: </strong>Monday to Saturday: 9:00 AM to 4:00 PM</p>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="/about">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="/contact">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="/login">Sign In</a>
        <a href="/cart">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg" alt="">
            <img src="img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways </p>
        <img src="img/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>@ 2023, E-Commerece Website Group Project</p>
    </div>

</footer>

<script src="script.js"></script>
</body>

</html>